# Florencia Configuration

# Environment: DEV, PRO, PRE, UNITTEST
FLORENCIA_ENV=DEV

# Database configuration
FLORENCIA_DATABASE_TYPE=sqlite
FLORENCIA_DATABASE_URI=

# Logging
FLORENCIA_LOG_LEVEL=DEBUG

# Paths
FLORENCIA_PATH_DATA=data
FLORENCIA_PATH_LOGS=data/log
